nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-primary{
    color: #FD6E0A
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    display: flex;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

.button-primary{
    border-radius: 5px;
    border: 0px;
    background: #FD6E0A;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: white;
    width: 150px;
    height: 60px;
    left: 1220px;
    top: 50px;
    padding: 15px 35px;
    


}

body{
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <width>: Use a value from 75 to 100

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
}
.nav-title{

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 45px;

color: #181818;

}