nav{
    display: flex;
}
.text-primary{
    color: #FD6E0A
}

nav > ul{
    display: flex;
}
nav li {
    display: flex;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

.button-primary{
    /* position: absolute; */
width: 150px;
height: 30px;
left: 1000px;
top: 30px;
color: #FD6E0A
}

body{
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
// <width>: Use a value from 75 to 100

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
}
.nav-title{

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 45px;

color: #181818;

}